@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.our {
    position: fixed;
    background-color: #fff;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(239, 226, 226, 0.952);
    overflow: hidden;
    color: #000;
    font-weight: bolder;
    padding-bottom: 70px;
    text-transform: uppercase;
    background: none;
}

.end {
    position: fixed;
    bottom: 10px;
    font-size: 1em;
}

#invite img, #rsvp img, #fb img {
    position: absolute;
    max-width: 50%;
    height: 100%;
    object-fit: contain;
    filter: brightness(1.1);
}

section h2 {
    position: relative;
    color: #000;
    z-index: 2;
    font-size: 0.9em;
    height: 70vh;
}

@media(max-width: 500px) {
    section h2 {
        font-family: cosolas;
        font-size: 0.65em
    }

    section img {
       box-shadow: none;
       height: 100%;
    }

#invite img, #rsvp img, #fb img {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
}
    .end {
        font-size: 0.5em;
    }
}